* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    display: flex;
}

.sidebar {
    width: 20%;
    background-color: #1c73db;
    color: #fff;
    height: 100vh;
    padding: 20px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
}

.sidebar .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .logo img {
    width: 50px;
    margin-right: 10px;
}

.sidebar .logo h2 {
    margin: 0;
    font-size: 24px;
    color: #fff;
}

.sidebar ul {
    list-style: none;
    margin-bottom: 100px;
}

.sidebar ul li {
    text-align: left;
    padding-left: 20px;
    margin-bottom: 10px;
}

.sidebar ul li:first-child {
    margin-top: 20px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.sidebar ul li a.active,
.sidebar ul li a:hover {
    background-color: #144a7d;
}

.sidebar ul li a img {
    width: 20px;
    margin-right: 15px;
}

.logout {
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    background-color: #1c73db;
    text-align: center;
    border-top: 1px solid #fff;
}

.logout img {
    width: 20px;
    margin-right: 10px;
}

.main-content {
    width: 80%;
    transition: all 0.3s ease;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    margin-left: 20%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eef5ff;
    padding: 0px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 50px;
    width: 80vw;
    position: fixed;
    top: 0;
    left: 20%;
}

.navbar-logo {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.navbar-logo img {
    width: 150px;
    margin-right: 10px;
}

.user-info {
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 0;
    gap: 20px;
}

.user-info .user-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.user-info .text-info {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

.user-info .username {
    font-weight: bold;
    color: #1c73db;
    margin: 0;
}

.user-info .role {
    font-size: 14px;
    color: #888;
    margin: 0;
    padding-left: 2px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.header-content h1 {
    font-size: 26px;
    margin: 0;
    color: #1c73db;
}

.search-bar {
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
    margin: 0;
}

.search-filter-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

#filterCriteria {
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.data-barang-actions {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.data-barang-actions .btn-tambah,
.data-barang-actions .btn-pdf,
.data-barang-actions .btn-print {
    display: flex;
    align-items: center;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.data-barang-actions .btn-tambah {
    background-color: #01499f;
    color: #fff;
}

.data-barang-actions .btn-pdf {
    background-color: #508d4e;
    color: #fff;
}

.data-barang-actions .btn-print {
    background-color: #86b6f6;
    color: #fff;
}

.data-barang-actions img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.data-barang-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed;
}

.data-barang-table th,
.data-barang-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
}

.data-barang-table th {
    background-color: #f2f2f2;
    color: #333;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
}

.data-barang-table td {
    color: black;
    word-wrap: break-word;
    white-space: normal;
    font-size: 14px;
    vertical-align: middle;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 20px 0; /* Kurangi margin */
}

.pagination li {
    display: inline-block;
    margin: 0 5px;
}

.pagination a {
    color: #007bff;
    padding: 8px 12px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.pagination a:hover {
    background-color: #007bff;
    color: white;
}

.pagination .active a {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.pagination .disabled a {
    color: #ddd;
    pointer-events: none;
}

.pagination a,
.pagination .page-number {
    font-size: 12px; /* Kurangi ukuran font */
}

.pagination .btn-prev,
.pagination .btn-next {
    padding: 5px 8px; /* Kurangi padding */
}

.status {
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
}

.status.dipinjam {
    background-color: #c7253e;
}

.status.rusak {
    background-color: #fabc3f;
}

.status.diperbaiki {
    background-color: #257dfd;
}

.status.tersedia {
    background-color: #508d4e;
}

.status.pengajuan-peminjaman {
    background-color: rgb(209, 206, 17);
}

.action-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 5px;
}

.btn-filter {
    background-color: #5bc0de;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
}

.btn-filter img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.data-barang-table th:nth-child(1),
.data-barang-table td:nth-child(1) {
    width: 50px;
    text-align: center;
}

.dropdown {
    position: relative;
}

.dropbtn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.dropbtn img {
    margin-right: 10px;
}

.toggle-icon {
    margin-left: auto;
    width: 16px;
    height: 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #144a7d;
    width: 100%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.show {
    display: block;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #1c73db;
}

.logout {
    padding-left: 20px;
}

.action-style {
    display: flex;
    align-items: center;
    gap: 8px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.borrow-button {
    background-color: #3b82f6;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.borrow-button:hover {
    background-color: #1e40af;
    transform: translateY(-2px);
}

.detail-button {
    display: flex;
    background-color: #9ca3af;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.marginRight {
    margin-right: 4px;
}

.detail-button:hover {
    background-color: #6b7280;
    transform: translateY(-2px);
}

.filter-barang-status {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.barang-status {
    background-color: transparent;
    padding-block: 8px;
    padding-inline: 10px;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.barang-status:hover {
    background-color: #ddd;
}

.available-barang {
    display: block;
}

.dipinjam-barang {
    display: none;
}

.selected {
    border-bottom: 3px solid green;
    background-color: #d2fad0;
    border-radius: 10px 10px 0px 0px;
}

.data-barang-table th:nth-child(1) {
    width: 5%;
}

.data-barang-table th:nth-child(2) {
    width: 20%;
}

.data-barang-table th:nth-child(3) {
    width: 10%;
}

.data-barang-table th:nth-child(4) {
    width: 25%;
}

.data-barang-table th:nth-child(5) {
    width: 7%;
}

.data-barang-table th:nth-child(6) {
    width: 20%;
}

.data-barang-table td:nth-child(6) {
    display: flex;
    justify-content: center;
}

.data-barang-table td:nth-child(3) {
    color: green;
    text-align: center;
}

.popup-form {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: white;
    padding: 20px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.popup-content h2 {
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
    color: #374151;
}

.popup-content form {
    display: flex;
    flex-direction: column;
}

.popup-content label {
    font-weight: bold;
    margin: 10px 0 5px;
}

.popup-content input[type="text"],
.popup-content input[type="date"] {
    padding: 10px;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 15px;
    outline: none;
}

.popup-content input[type="text"]:focus,
.popup-content input[type="date"]:focus {
    border-color: #3b82f6;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.cancel-btn {
    background-color: transparent;
    border: 2px solid #3b82f6;
    color: #3b82f6;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cancel-btn:hover {
    background-color: #e0f2fe;
}

.submit-btn {
    background-color: #3b82f6;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #2563eb;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    color: #6b7280;
    cursor: pointer;
}

.close-btn:hover {
    color: #374151;
}

.disabled-button {
    background-color: grey;
}

.disabled-button:hover {
    background-color: grey;
    transform: translateY(0px);
}

.notification-icon {
    font-size: 22px;
    color: #2563eb;
    border: 1px solid #2563eb;
    border-radius: 100px;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-icon:hover {
    background-color: rgba(1, 73, 159, 0.3);
    color: #ffffff;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease-in-out;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #f9fafb;
    padding: 30px;
    border-radius: 12px;
    width: 500px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    position: relative;
    animation: scaleIn 0.3s ease-in-out;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #555;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-btn:hover {
    color: #e74c3c;
}

.modal-content h2 {
    margin-top: 0;
    font-size: 24px;
    font-weight: 600;
    color: #333;
    text-align: center;
    border-bottom: 2px solid #ececec;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.detail-list {
    list-style-type: none;
    padding: 0;
}

.detail-list li {
    margin-bottom: 15px;
    font-size: 16px;
    color: #555;
}

.detail-list strong {
    color: #333;
    font-weight: 600;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}
